{% extends 'account/mainprofile.html' %} 
{% block title %}Профиль{% endblock %} 
{% block content %}
  <div class="containerProfile">
    
    <div class="userProfile">
      <div class="image">
        <img src="{{ user.image_user.url }}" alt="Фото" />
      
      </div>
     
      <div class="userInfo">
        
        <h4>{{ user.first_name }} {{ user.last_name }}</h4>
        <p>{{ user.username }}</p>
        <p>{{ user.email }}</p>
        <p>{{ user.phone_number }}</p>
        <p><a href="{% url 'accounts:updateprofile' user.pk %}">Редактировать профиль</a></p>
        <p><a class="logout" href="{% url 'accounts:logout_views' %}">Выйти</a></p>
      </div>
    </div>
   
  </div>
 
{% endblock %}
