{% load static %}
<link href="{% static 'css/main.css' %}" rel="stylesheet" />
<link href="{% static 'css/order.css' %}" rel="stylesheet" />

{% block content %}
<div class="containerOrder">
  <div class="order-info">
    <h4>Оформление заказа</h4>
    {% for item in cart %}
    <table>
      <tr>
        <td>
          <img
            src="{{ item.product.image.url}}"
            alt=""
            height="150px"
            width="150px"
          />
        </td>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }} шт.</td>
        <td>{{ item.price }} &#8381;</td>
      </tr>
    </table>
    {% endfor %}
    <h3>Итого: {{ cart.get_total_price }} &#8381;</h3>
  </div>
  <div class="formOrder">
    <h4>Введите свои данные</h4>
  <form class="form" action="." method="post">
    {{ form.as_table }}
    <p><input class="submit" type="submit" value="Оформить заказ" /></p>
    {% csrf_token %}
  </form>
</div>
</div>
{% endblock %}
