.containerCatalog {
    margin: auto;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: space-between;
    background-color: rgba(216, 50, 50, 0.308);
  }
  .containerDescription {
    background-color: aqua;
    width: 20em;
    height: 26em;
    margin: 1.5rem;
  }
  .image {
    height: 70%;
    width: 100%;
  }
  img {
    object-fit: cover;
    object-position: 50% 50%;
  }
  