a {
  text-decoration: none;
  color: black;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 7vh;
    width: 100%;
    /* background-color: rgba(255, 217, 0, 0.384); */
}
.navBar h4 {
  margin-left: 10%;
}
.navBar a:hover {
  color: green;

}
.containerBasket {
  /* background-color: rgba(127, 255, 212, 0.267); */
  display: flex;
  margin: auto;
  width: 85%;
  height: 100%;
}
.containerProduct {
  margin-top: 2em;
  width: 70%;
  height: 100%;

  /* background-color: rgba(255, 0, 200, 0.178); */
}
.image {
  height: 250px;
  width: 250px;
}
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th {
  font-weight: normal;
  text-align: center;
  padding: 10px 8px;
}
td {
  padding: 9px 8px;
  transition: 0.3s linear;
  text-align: center;
  font-size: 14px;
}
.ContainerBasketInfo {
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  height: 300px;
  width: 400px;
  /* background-color: rgba(0, 255, 255, 0.5); */
  margin: 2em 0 0 2em;
  /* border: 1px solid rgba(3, 243, 163, 0.425); */
}
.BasketInfo {
  text-align: left;
  /* background-color: rgba(253, 255, 240, 0.493); */
  height: 65%;
  width: 90%;
  margin: 1.2em;
}
.totalPrice {
  float: right;
}
.submit {
  /* background-color: white; */
  border: none;
  height: 40px;
  width: 100%;
  font-size: 20px;
  margin-top: 55px;
  text-decoration: none;
}
.submit:hover {
  color: green;
}
.plus {
  text-decoration: none;
  font-size: 25px;
  /* background-color: rgba(68, 255, 115, 0.507); */
  padding: 0 10px;
  color: black;
}
.plus:hover {
  color: green;
}
.minus {
  text-decoration: none;
  font-size: 26px;
  /* background-color: rgba(252, 82, 82, 0.507); */
  padding: 0 12px;
  color: black;
}
.minus:hover {
  color: rgb(255, 0, 119);
}
.quantity {
  margin: 0 10px;
  font-size: 16px;
}
td a {
  text-decoration: none;
  color: black;
}
td a:hover {
  color: rgb(255, 0, 119);
}