.containerHeading {
    width: 100%;
    height: 26vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .menu {
    display: flex;
    align-items: start;
    width: 100%;
    height: 30vh;
    background-color: rgba(0, 247, 255, 0.336);
  }
  .menu > a {
    margin: 10px;
    padding: 20px 22px;
    height: 3em;
    width: 3em;
    /* background-color: rgba(255, 30, 49, 0.479); */
  }
  .menu img {
    height: 2.8em;
    width: 2.8em;
  }
  .iconmenu {
    position: relative;
    left: 40%;
  }
  .lenBasket {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    position: absolute;
    top:90px;
    right: 16%;
    background-color: green;
    border-radius: 50%;
  }
  .neonHeading {
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
  }
  .heading_title {
    padding: 0;
    
    margin: 0;
    margin-left: -7%;
    text-align: center;
    font-family: "Segoe Script";
    letter-spacing: 4px;
    font-style: italic;
    font-size: 2.5em;
    font-weight: 300;
    color: #d4a0ffb4;
  }
  .subtitle {
    margin-left: -8%;
    font-size: 1.1rem;
    text-align: center;
    color: green;
    letter-spacing: 4px;
    word-spacing: 10px;
    text-shadow: none;
    font-family: serif;
  }
  @media screen and (max-width: 767px) {
    .heading_title {
      /* подобрать размер шрифта */
      font-size: 1.7em;
      /* разобраться с неоном */
      text-shadow: none;
    }
    .subtitle {
      /* подобрать размер шрифта */
      font-size: 0.7em;
    }
  }
  .conteinerManagement {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 100%;
    /* background-color: rgba(137, 43, 226, 0.281); */
  }
  .conteinerManagement > a {
    margin: 0 20px;
  }
.navi {
  background-color: aqua;
  height: 100px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-content: end;
}
.navi  a {
  margin: 10px;
}
