.containerLog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}
.login {
  /* background-color: rgba(87, 50, 250, 0.233); */
  height: 35em;
  width: 25em;
  text-align: center;
  /* border: 1px solid rgb(187, 187, 187); */
}
#id_username,
#id_password,
#id_password1,
#id_password2,
#id_email,
#id_first_name,
#id_last_name,
#id_phone_number {
  width: 95%;
  height: 2em;
  font-size: 16px;
  margin: 5px;
}
label {
  margin: 20px 10px;
  font-size: 18px;
}
.submit {
  /* background-color: white; */
  border: none;
  height: 40px;
  width: 100%;
  font-size: 20px;
  margin-top: 55px;
  text-decoration: none;
  cursor: pointer;
}
.submit:hover {
  color: green;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: green;
}
ul {
  margin: 0;
  padding: 0px;
  text-align: center;
}
li {
  font-size: 18px;
  list-style-type: none;
  color: rgb(219, 6, 6);
}