.containerShowcase {
    width: 100%;
    height: 58vh;
    display: flex;
    justify-content: center;
    align-content: space-between;
    background-color: rgba(216, 50, 50, 0.308);
  }
  .containerDescription {
    background-color: aqua;
    width: 24em;
    height: 30em;
    margin: 1.5rem;
    /* transition: 0.4s; */
  }
  .image {
    height: 70%;
    width: 100%;
  }
  img {
    object-fit: cover;
    object-position: 50% 50%;
  }
  
  /* .containerDescription:hover {
    width: 25em;
    height: 31em;
    transition: 0.4s;
  } */
  