.containerTimer {
    width: 89%;
    height: 5%;
    margin-left: 11%;
  }
  #timer {
    /* font-family: sans-serif; */
    letter-spacing: 4px;
    word-spacing: 10px;
    text-shadow: none;
    font-family: serif;
    color: green;
    font-size: 1rem;
  }
  .label {
    font-size: 1em;
    padding-left: 0.25em;
  }
  @media screen and (max-width: 767px) {
    #timer {
      font-size: 0.8em;
      text-align: center;
    }
  }
  