.containerUpdate {
  height: 100vh;
  width: 70%;
  margin-left: 300px;
}
.containerAdd {
  height: 100%;
  width: 70%;
  margin-left: 300px;
}
.update_form,
.image_product {
  margin: 5em;
}
h1,
h4 {
  margin: 0;
  padding: 20px 0 0 90px;
}
.image_product {
  margin-top: 10em;
  width: 25em;
  height: 25em;
}
.update_form {
  float: right;
  height: 35em;
  width: 25em;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.add_form, .containerUpOrder {
  margin: 5em;
  height: 35em;
  width: 25em;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#id_image,
#id_name,
#id_category,
#id_price,
#id_quantity,
#id_description {
  width: 95%;
  height: 2em;
  font-size: 16px;
  margin: 5px;
  margin-top: 10px;
}
#id_description {
  height: 5em;
}
.submit {
  /* background-color: white; */
  border: none;
  height: 40px;
  width: 100%;
  font-size: 20px;
  margin-top: 55px;
  text-decoration: none;
}
.submit:hover {
  color: green;
}
.containerUpOrder span {
  float: right;
}
.containerUpOrder b {
  float: left;
}
#id_status {
  height: 30px;
  width: 130px;
}