<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <link href="{% static 'css/productview.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{product.name}}</title>
</head>
<body>
    <div class="containerViews">
        
    <div class="containerDescription">
        <p><a href="{% url 'main:catalog' %}">В каталог</a></p>
        <img class="image" src="{{ product.image.url }}" />
        <p>{{ product.category }}</p>
        <h3 class="price">{{ product.price }} &#8381;</h3>
        <p class="title">Букет "{{ product.name }}"</p>
        <p>Свежий букет, собранный флористами студии «Что-то на цветочном», доступен к отправке в течение 30 минут. 
            Оформите заказ и совсем скоро получатель получит звонок от курьера!
            Доставка осуществляется по Москве и московской области</p>
          </div>
          <div class="description"><p>{{ product.description }}</p>
            
            <form action="{% url 'basket:basket_add' product.id %}" method="post">
                {{messange}}
                {{ cart_product_form }} {% csrf_token %}
                <input class="submit" type="submit" value="В корзину" /></div>
        </div>
        
</body>
</html>