<!DOCTYPE html>
<html lang="ru">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <link href="{% static 'css/adminpanel.css' %}" rel="stylesheet" />
    <link href="{% static 'css/admin.css' %}" rel="stylesheet" />
    <link href="{% static 'css/update.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <aside class="navBar">
      <a href="{% url 'accounts:profile_views' %}">
      <h3>
        <img class="image_user" src="{{user.image_user.url}}" alt="" />
        <span class="userName">{{ user.first_name }} {{ user.last_name }}</span>
      </h3></a>
      <p>{{ user.status }}</p>
      <ul>
        <li><a href="{% url 'adminpanel:users' %}">Клиенты</a></li>
        <li>
          <a href="{% url 'adminpanel:products' %}">Товары</a>
        </li>
        <li><a href="{% url 'adminpanel:orders' %}">Заказы</a></li>
        <li><a href="/">Главная страница</a></li>
        <li><a href="/catalog/">Каталог</a></li>
        <li><a href="/basket/">Корзина</a></li>
        <li><a href="/admin/">Админка Django</a></li>
      </ul>
    </aside>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
