{% extends 'adminpanel/main.html' %} {% block title %}Заказы{% endblock %}
{%block content %}
<div class="info">
  <h2>Заказы</h2>
  <table>
    <tr>
      <th></th>
      <th>№ заказа</th>
      <th>Статус</th>
      <th>Дата</th>
      <th>Имя клиента</th>
      <th>Email</th>
      <th>Номер телефон</th>
      <th>Наименование</th>
    </tr>
    {% for order in orders %}
    <tr>
      <td scope="row"></td>
      <td>{{ order.id}}</td>
      {% if paid != False %}
      <td>Не оплачен</td>
      {% else %}
      <td>Оплачен</td>
      {% endif %}
      
      <td>{{order.created}}</td>
      <td>{{order.user.last_name}} {{order.user.first_name}}</td>
      <td>{{order.user.email}}</td>
      <td>{{order.user.phone_number}}</td>
      
      <td>
        {% for item in orderitem %}
        {{ item.price }},<br>
        {% endfor %}</td>
      
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
